
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body{
    background-color: black;
    color:chartreuse;
    font-family: 'Rock Salt', cursive;
    padding: 20px;
    margin: 90px;
    border: 5px solid powderblue;
    text-decoration: none;
    
}
p{
   

  
    color:rgb(255, 255, 255);
    font-family: 'Syne Mono', monospace;
    font-size: 30px;
    font-weight: 20px;
    line-height: 50px;
    border: 5px solid powderblue;
    margin: 30px;
    padding: 30px;
   

   



}
a{
    text-decoration: none;
    
}